* { box-sizing: border-box; }

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 13px;
  /*background: #1F1E1D;
  color: #FFF;*/
}

a:visited {
    color: #2373bf;
}
